:root {
  --document-bg-color: #000028;
}
html {
  background-color: var(--document-bg-color); /* цвет фона за пределами контейнера при большом разрешении */
}
.page {
  --padding: 10px;
  padding: var(--padding);
  overflow-x: hidden;

  background: var(--backgroune-img-url), lightgray 50% / cover no-repeat;
  background-attachment: fixed;
  background-size: auto 100%;
  background-position: center;

  font-family: IBM Plex Mono;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
/*========= Theme menu =========*/
.header__theme-menu {
  text-align: center;
  justify-self: end;
  grid-column: 3;
  align-self: center;
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.header__theme-menu-item {
  width: 70px;
  height: 26px;
  padding: 2px 13px;
}
.header__theme-menu-button {
  text-transform: lowercase;
  background: none;
  color: var(--theme-menu-color);
  border: none;
  padding: 0;
}
.header__theme-menu-button_active {
  pointer-events: none;
}
.header__theme-menu-item:has(.header__theme-menu-button_active) {
  outline: 1px solid var(--theme-menu-color);
}
.header__theme-menu-item:hover {
  outline: 1px solid var(--menu-hover-color);
}
.header__theme-menu-item:has(:focus-visible) {
  border-bottom: 1px solid var(--theme-menu-color);
}
.header__theme-menu-button:focus {
  outline: none;
}
/*==============================*/

.decorated-zone {
  display: grid;
  height: calc(100vb - var(--padding) * 2);
  width: 100%;
}

/*========= Decorated corners =========*/
.decorated-zone::after,
.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
}
.decorated-zone::after {
  border-top: 1px solid var(--theme-menu-color);
  border-right: 1px solid var(--theme-menu-color);
  justify-self: end;
}
.decorated-zone::before {
  border-bottom: 1px solid var(--theme-menu-color);
  border-left: 1px solid var(--theme-menu-color);
  align-self: end;
}
/*=====================================*/

/* ============== REC =============== */
.header__rec {
  position: absolute;
  width: 52px;
  height: 26px;
  color: var(--accent-color);
  line-height: 25px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-right: 8px;
  justify-self: end;
}
.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  box-shadow: 0px 0px 4px 3px var(--accent-color);
  border-radius: 50%;
  align-self: center;
  background-color: var(--accent-color);
}
/* ================================== */

.header {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr auto 1fr;
  grid-auto-flow: dense;
}
.header__title {
  color: var(--focus-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  grid-column: span 3;
  align-self: center;
}
.header__description {
  color: var(--main-color);
  background-color: var(--article-title-bg);
  font-weight: 700;
  line-height: 23.4px;
  align-self: center;
  justify-self: end;
  grid-column: span 3;
}

a {
  text-decoration: none;
  text-shadow: 1.5px 1.5px var(--article-title-bg);
  line-height: 50%;
  height: 12px;
  display: inline-block;
}
a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}
a:focus {
  outline: none;
}
a:focus-visible {
  outline: 1px solid var(--text-color);
}
/*============= ARTICLE =============*/
.article {
  width: calc(100vw - var(--padding) * 2);
  display: grid;
  gap: 20px;
  margin-bottom: 50px;
}
.article:last-child {
  margin-bottom: 0;
  gap: 10px;
}
.article__title {
  color: var(--theme-menu-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}
.article__subtitle {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  background-color: var(--article-title-bg);
}
.article__subtitle-mini {
  color: #000028;
  line-height: 130%;
  background-color: var(--article-title-bg);
}

.article__paragraph {
  color: var(--text-color);
  line-height: 130%;
  margin-top: -10px;
}
/*===================================*/

.main {
  margin: 50px 0;
  display: grid;
  grid-template-rows: auto auto auto auto;
}

.article__picture {
  width: 100%;
}

img {
  object-fit: cover;
  width: inherit;
}

.article:last-child,
.article__picture {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

.footer__title {
  grid-row: 2;
  color: var(--focus-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-size: 116px;
  font-weight: 700;
  line-height: 82.5%;
  justify-self: center;
}
@media (min-width: 1025px) {
  .article {
    width: calc(1024px - var(--padding) * 2);
  }
}
@media (min-width: 769px) {
  .page {
    --padding: 20px;
  }
  .header__theme-menu {
    grid-column: 2;
    justify-self: center;
    align-self: start;
  }
  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }
  .header__description {
    max-width: calc(512px - var(--padding));
  }

  /*===================================================*/
  .main {
    margin: 80px 0;
  }
  .article {
    grid-template-columns: 1fr 66%;
    margin-bottom: 80px;
  }

  .article__title {
    grid-column: 1;
    grid-row: span 4;
  }

  .article .article__subtitle,
  .article .article__subtitle-mini,
  .article .article__paragraph {
    grid-column: 2;
  }

  .article:nth-child(2) {
    grid-template-columns: repeat(3, 1fr);
  }
  .article:nth-child(2) .article__title {
    grid-column: 1;
    grid-row: 1;
  }
  .article:nth-child(2) .article__subtitle {
    grid-column: auto;
    grid-row: 2;
  }
  .article:nth-child(2) .article__paragraph {
    grid-column: auto;
    grid-row: 3;
  }

  .article:last-child {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .article:last-child .article__subtitle {
    margin-bottom: 10px;
  }
  .article:last-child .article__picture {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 20px;
  }
  .article:last-child .article__picture img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
  }
  img:nth-child(1) {
    height: 260px;
    grid-column: span 2;
  }
  img:nth-child(2) {
    grid-row: span 2;
    height: 595px;
    object-fit: cover;
  }
  img:nth-child(3) {
    height: 768px;
    grid-row: span 2;
  }
  img:nth-child(4) {
    height: 315px;
  }
  img:nth-child(5) {
    height: 428px;
    grid-column: span 2;
  }

  .footer__title {
    font-size: 157px;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .page {
    --padding: 20px;
  }
  .header__theme-menu {
    grid-column: 3;
  }
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }
  .header__description {
    max-width: calc(384px - var(--padding));
  }
  /*=========================================*/
  .main {
    margin: 80px 0;
  }
  .article {
    grid-template-columns: 1fr 2fr;
    margin-bottom: 80px;
  }
  .article__subtitle,
  .article__paragraph,
  .article__subtitle-mini {
    grid-column: 2;
  }
  .article:nth-child(2) .article__title {
    grid-row: 1;
  }
  .article:nth-child(2) .article__subtitle,
  .article:nth-child(2) .article__paragraph {
    grid-column: span 2;
  }
  .article__title {
    grid-row: span 4;
  }
  .article:last-child {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100vw - var(--padding) * 2);
    overflow: hidden;
  }
  .article:last-child .article__picture {
    display: grid;
    width: calc(100vw - var(--padding) * 2);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 20px;
    margin-top: 10px;
  }
  .article:last-child .article__picture img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
  }
  img:nth-child(1) {
    height: 192px;
    grid-column: span 2;
  }
  img:nth-child(2) {
    grid-row: span 2;
    height: 441px;
    object-fit: cover;
  }
  img:nth-child(3) {
    height: 568px;
    grid-row: span 2;
  }
  img:nth-child(4) {
    height: 230px;
  }
  img:nth-child(5) {
    height: 318px;
    grid-column: span 2;
  }

  .footer__title {
    font-size: 120px;
  }
}
